<!DOCTYPE html>
<html>
  <head>
    <title>Sentiment Analyzer</title>
    <style>
      #positive-body {
        background-color: green;
      }
      #negative-body {
        background-color: red;
      }
    </style>
  </head>
  <body id="{% if color == 'green' %}positive-body{% elif color == 'red' %}negative-body{% endif %}">
    <h1>Sentiment Analyzer</h1>
    {% if error %}
    <p>{{ error }}</p>
    {% endif %}
    <form method="post">
      <label for="url">Enter the URL of the article:</label>
      <input type="text" id="url" name="url" required>
      <input type="submit" value="Analyze">
    </form>
  </body>
</html>